@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #030303;
    --secondary-color: #2c2c2e;
    --accent-color: #ffdb89;
    --text-color: #ffffff;
}

@layer base {
    body{
        background-color: var(--primary-color);
        color: var(--text-color);
    }
}

